ci:
  autoupdate_schedule: 'monthly'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: no-commit-to-branch
        args: [-b, main]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        name: black
        entry: black
        require_serial: true
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        exclude: ^tests/.*


  - repo: https://github.com/yaq-project/yaq-traits
    rev: v2023.6.0
    hooks:
      - id: yaq-traits-check
      - id: yaq-traits-compose

