repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
    -   id: no-commit-to-branch
        args: [-b, main]

  - repo: https://github.com/psf/black
    rev: 21.9b0
    hooks:
      - id: black
        name: black
        entry: black
        require_serial: true
        types: [python]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910-1
    hooks:
      - id: mypy
        exclude: ^tests/.*


  - repo: https://gitlab.com/yaq/yaq-traits
    rev: v2021.10.0
    hooks:
      - id: yaq-traits-check
      - id: yaq-traits-compose

