# This workflows will upload a Python Package using flit when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip!=22.1.*
        pip install flit
    - name: Build and publish yaqd-core
      if: startsWith( github.action_ref, 'yaqd-core-')
      env:
         FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD_YAQD_CORE }}
      run: |
        cd yaqd-core
        flit install
        flit publish

    - name: Build and publish yaqc
      if: startsWith( github.action_ref, 'yaqc-')
      env:
         FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD_YAQC }}
      run: |
        cd yaqc
        flit install
        flit publish

    - name: Build and publish yaqd-core
      if: startsWith( github.action_ref, 'yaqd-fakes-')
      env:
         FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD_YAQD_FAKES }}
      run: |
        cd yaqd-fakes
        flit install
        flit publish

